// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header-k {margin: 15px 40%; width: 20%; padding: 0;}
.header-logo {float: left; width: 100%; margin: 0; padding: 0;}
.header-k h2 {color: #e74c3c; font-size: 14px; line-height: 14px; font-variant: italic; text-align: center;}
.howitworks-k {float: left; width: 100%; padding: 0 5%; margin: 15px 0; font-family: LLCircularWeb,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.howitworks-box {float: left; width: 33%; padding: 0 10px; margin: 0;}
.hiw-image {float: left; width: 100%; margin: 0; padding: 0;}
.howitworks-k h1 {color: #e74c3c; font-size: 20px; line-height: 20px; text-align: center; text-transform: uppercase;}
.howitworks-box p {float: left; margin: 10px 0; padding: 0 5%; width: 100%; font-size: 18px; line-height: 22px; color: #7f8c8d; text-align: center;}
.signup-k {float: left; width: 20%; margin: 50px 40%; font-family: LLCircularWeb,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.button-k {text-align: center; padding: 10px 15px; width: 100%; font-size: 22px; line-height: 22px; color: #fff; background-color: #e74c3c; text-transform: uppercase; border-radius: 5px;}
.button-k:hover {text-align: center; padding: 10px 15px; width: 100%; font-size: 22px; line-height: 22px; color: #fff; background-color: #7f8c8d; text-transform: uppercase; border-radius: 5px; text-decoration: none;}